amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.24
kombu==3.0.37
msgpack-python==0.4.7
nose2==0.6.5
pytz==2016.7
-e git+https://github.com/ONEmCommunications/siren.git@a4414dc2ac491d02bc5f2af3588f6b9dd4e6374c#egg=siren
six==1.10.0
tinyrpc==0.5
